<!-- <mat-toolbar color="primary">
      
  <span>Administrador de Proveedores</span>
 
</mat-toolbar>

<mat-card>
  <mat-card-title>

    
  </mat-card-title>
  <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
  <mat-card-actions>
    <button mat-button>Proveedor</button>
    <button mat-button>Buscar</button>
  </mat-card-actions>

  <mat-card-content>
   

    <mat-grid-list gutterSize="20" [cols]="breakpoint" rowHeight="6rem" (window:resize)="onResize($event)">
      <mat-grid-tile colspan="2">

        <p class="p-input">
          <mat-form-field appearance="outline" style="width: 100% !important">
            <mat-label>RFC</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matPrefix></mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>

      </mat-grid-tile>
      <mat-grid-tile colspan="6">
        <p class="p-input">
          <mat-form-field appearance="outline" style="width: 100% !important">
            <mat-label>Razon social:</mat-label>
            <input matInput placeholder="Placeholder">
            <!-- <mat-icon matPrefix></mat-icon> -->
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de contacto</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix>person</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p >
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <p class="p-input"> 
          <mat-form-field appearance="outline">
            <mat-label>No int</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>No ext</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
        
      </mat-grid-tile>

      <mat-grid-tile colspan="3">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Colonia</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Localidad/Delegacion</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Entidad</mat-label>
            <mat-select name="food">
              <mat-option>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Municipio</mat-label>
            <mat-select name="food">
              <mat-option>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Pais</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Codigo Postal</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Correo electronico</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matPrefix>mail</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="Placeholder" >
            <mat-icon matPrefix></mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="p-input">
          <mat-form-field appearance="outline">
            <mat-label>Estatus</mat-label>
            <mat-select name="food">
              <mat-option>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </mat-grid-tile>

    
      <mat-grid-tile colspan="1">
        <button class="btn-guardar" mat-raised-button color="accent">Guardar/Actualizar</button>
      </mat-grid-tile>



    </mat-grid-list>


    

  </mat-card-content>
</mat-card> -->