button{
    margin: 3rem;
}

mat-sidenav-container{
    height: 100%;
}

mat-sidenav{
    background-color: lightcoral;
    width: 200px;
}


mat-grid-tile-content{
    justify-content: start !important;
}
/* [matInput]{
    width: 100%;
} */

p>mat-form-field{
    width: 100%;
}

.p-input{
    width: 100%;
}

.btn-guardar{
    margin: 0;
}